<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/style/createChat.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <p class="logo__text">
                Live Chat
            </p>
        </div>
        <div class="form_wrapper">
            <form action="" method="post" class="form">
                <p class="text">User`s phone number</p>
                <input type="tel" name="phone" class="input" autocomplete="off" required>
                <p class="text warning" th:text="${warning}"></p>
                <a href="/chat" class="chat_link text">Back to the chats</a>
                <input type="submit" class="input submit" value="Create chat">
            </form>
        </div>
    </div>
</body>
</html>