<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/static/style/index.css">
</head>
<body>
    <div class="container">
        <div class="welcome_text">
            <p class="text_left">
                Welcome To
            </p>
            <p class="text_right">
                Live Chat
            </p>
        </div>
        <div class="form_wrapper">
            <div class="form">
                <p class="text">Phone</p>
                <input type="tel" name="phone" class="input" autocomplete="off" id="tel" required>
                <p class="text">Password</p>
                <div class="password">
                    <input type="password" name="password" class="input last" id="password" autocomplete="off" required>
                    <div class="img_container"></div>
                </div>
                <p class="text warning"></p>
                <a href="/registration" class="registration_link text">Create an account</a>
                <button class="submit">Join</button>
            </div>
        </div>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>